:root{
    font-size: 15px;
    font-family: "Open Sans";
    --text-primary: #857e7e;
    --text-secondary: #cacaca;

    --bg-primary: #09080a;
    --bg-secondary: #0f1014f8;

}

body{
    background-color:#e6dbdb;
    color:  #131111;
    margin: 0;
    padding: 0;
}


body::-webkit-scrollbar, body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #131111;
}

body::-webkit-scrollbar-thumb{
    background: #57c478;
}

main{
    margin-left: 14rem;
    padding: 1rem;
    
}

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -ms-transition: width .2s ease;
    -o-transition: width .2s ease;
}

.nav-item{
    width: 100%;
}

.navbar:hover{
    width: 14rem;
    
}

.navbar:hover .link-text{
    display: block;
}

.navbar-nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.nav-item{
    width:100%;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    -webkit-filter: grayscale(100%) opacity(0.7);
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    -webkit-filter: grayscale(0%) opacity(1);
}


.link-text{
    display: none;
    margin-left: 1rem;
    
}

.nav-link svg{
    min-width: 1.5rem;
    margin: 0 1.9rem;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.nav-link:hover svg, .nav-link:active svg{
    color:#57c478;
}


@media screen and (max-width:768px){


    .navbar{
        bottom:0;
        width: 100vw;
        height: 4rem;
        
        /* justify-content: center; */
    }

    .nav-link{
        height: 4rem ;
        align-items: center;
        justify-content: center;
    }

    .navbar-nav:hover .link-text{
        display: none;
    }

    .navbar:hover{
        width: 100vw;
    }

    .navbar-nav{
        flex-direction: row;
        align-items: space-between;
        width: 100vw;
        
    }

    .link-text{
        display: none;
    }

    main{
        margin: 0;
    }



}